<li class="card card-flat p-4 !rounded-2xl flex gap-4 items-center">
  <button type="button" class="btn-play-media" aria-label="Jouer le morceau"></button>
  <div class="flex-1">
    <p class="text-sm font-bold">{{ backingtrack.instrument.name }}</p>
    <p class="text-sm">{{ backingtrack.label }}</p>
  </div>
  <button type="button" class="flex items-center" aria-label="Acceder aux options du media"><i class="icon icon-option-menu-side icon-size-small !bg-(--text-color) cursor-pointer"></i></button>
</li>
