<li class="flex flex-col gap-2">
  <iframe class="w-full rounded-4xl"  height="250" src="{{ songLink.link ~ '&amp;controls=0' }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  <div class="flex justify-between items-center">
    <h3 class="text-xl font-bold">{{ songLink.label }}</h3>
    <button type="button" aria-label="acceder aux options du lien"><i class="icon icon-option-menu-side icon-size-small"></i></button>
  </div>
</li>
