<header class="app-header" >
    <div class="app-header-content">
        <h1 class="text-3xl font-semibold text-(--label-color)">{{pageTitle}}</h1>
      {{ headerExtra|default('')|raw }}
    </div>
</header>
