{% extends 'base.html.twig' %}
{% set currentRoute = app.request.attributes.get('_route') %}

{% block title %}{{pageTitle}}{% endblock %}


{% block body %}
  <div class="app-main-body">
    {% set headerExtra %}{% block headerExtra %}{% endblock %}{% endset %}
    {{ include('/app/_layout/_header.html.twig', { headerExtra: headerExtra }) }}

    <main class="app-main">
      {% block content %}{% endblock %}
    </main>

    {{ include('/app/_layout/_navbar.html.twig') }}
  </div>
{% endblock %}
