<article class="card flex gap-5 items-center md:h-36">
  <div class="rounded-full overflow-hidden">
    <img src="{{ asset('images/icons/' ~ testimonial.avatar) }}" alt="avatar" class="w-20">
  </div>
  <div>
    <p class="text-black text-xl font-semibold">{{ testimonial.name }}</p>
    <p class="text-black text-md font-light">"{{ testimonial.text }}"</p>
  </div>
</article>
