

.song-tag {
  display: flex;
  gap : 1rem;
  align-items: center;
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: 2rem;
  color : var(--text-color);
  background-color: var(--card-background-container);

}
