@import "tailwindcss";
@import './globals.css';
@plugin "@tailwindcss/typography";

/* ==========================================================================
   RESET
   ========================================================================== */
@layer base {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}



body {
  background-color: var(--background-color);
}

.labeled-input {
  @apply flex flex-col gap-2.5
}

input {
  padding: 8px 10px;
  border: 1px solid var(--color-border);
  background-color: var(--input-background-color);
  @apply rounded-lg;

  &:active, &:focus {
    box-shadow: 0 0 0 2px var(--color-border);
    @apply outline-none;
  }


}

.input-label {
  color: var(--color-text-primary);
  font-size : 1rem;
}
.btn {
  border: none;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.15s ease;

  @apply rounded-3xl font-bold p-3;

  &.btn-primary {
    background-color: var(--button-background-color);
    color: var(--color-text-inverse);
    box-shadow: 0 2px 6px 1px var(--color-text-muted);
    transform: translateY(0);
  }

  &.btn-primary:hover {
    box-shadow: 0 3px 10px 1px var(--color-text-muted);
    transform: translateY(-1px);
  }

  &.btn-primary:active {
    box-shadow: 0 1px 3px 1px var(--color-text-muted);
    transform: translateY(0);
  }
}

.link {
  color: var(--link-color);
}
