.band-selector {
  display: none;
  position: relative;
}
.band-selector-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 254px;
  height: 48px;

  padding: 8px 16px;
  border-radius: 999px;
  background: var(--card-background-container);
  cursor: pointer;
  span {
    color: var(--label-color);
    font-size: 16px;

  }
}

.band-selector-dropdown {
  display: none;
  position: absolute;
  top: calc(100% + 8px);
  min-width: 100%;
  background: var(--card-background-container);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  flex-direction: column;
  gap:6px;
  padding: 12px;
  color : var(--label-color);
  font-size: 16px;
}

.band-selector[open] .band-selector-dropdown {
  display: flex;
}

@media (min-width: 768px) {
  .band-selector {
    display: block;
  }
}
