@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --color-primary: #7650B3;
    --color-primary-hover: #5A4CE0;
    --color-primary-active: #4B3FD9;
    --color-accent: #F06292;

    --color-success: #4CAF50;
    --color-success-light: #CEE1D0;
    --color-info: #AAA0FF;
    --color-warning: #FFC107;
    --color-error: #F44336;

    --color-background: #F5F6FA;
    --color-background-alt: #F0F1F3;
    --color-surface: #EEEEF0;
    --color-surface-secondary: #D6CFE6;
    --color-surface-alt: #FFFFFF;
    --color-border: #D6CFE6;
    --color-divider: #D6D1EC;

    --color-text-primary: #29282F;
    --color-text-secondary: #5D5982;
    --color-text-muted: #B2AED4;
    --color-text-inverse: #FFFFFF;
    --color-text-emphasis: #FFFFFF;


      /* Layout */
      --background-color: var(--color-background);

      /* Textes */
      --label-color: var(--color-text-primary);
      --text-color: var(--color-text-secondary);
      --text-helpers-color: var(--color-text-muted);

      /* Inputs */
      --input-background-color: var(--color-surface-alt);
      --input-border-color: var(--color-border);

      /* Cards */
      --card-background-color: var(--color-surface-alt);
      --card-background-container : var(--color-surface);
      --card-shadow: rgba(17, 17, 26, 0.10) 0px 6px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

      /* Bouton primaire */
      --button-background-color: var(--color-primary);
      --button-text-color: var(--color-text-inverse);

      /* Bouton secondaire */
      --button-secondary-background-color: var(--color-surface-alt);
      --button-secondary-color: var(--color-text-secondary);
      --button-secondary-border-color: var(--color-border);

      --tag-background-color: var(--color-surface-secondary);
      --tag-active-background-color: var(--color-primary);

      --tag-active-text-color: var(--color-text-inverse);
      --tag-text-color: var(--text-color);

      --link-color: var(--color-primary);



}




.dark {
  /* Layout */
  --background-color: #1A1829;

  /* Textes */
  --label-color: #FFFFFF;
  --text-color: #B2AED4;
  --text-helpers-color: #5D5982;

  /* Inputs */
  --input-background-color: #2A2640;
  --input-border-color: #3D3860;

  /* Cards */
  --card-background-color: #231F38;

  /* Bouton primaire */
  --button-background-color: #7650B3;
  --button-text-color: #FFFFFF;

  /* Bouton secondaire */
  --button-secondary-background-color: #2A2640;
  --button-secondary-color: #B2AED4;
  --button-secondary-border-color: #3D3860;
}


