
.icon {
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: var(--label-color);

  &.icon-music-score {
    mask-image: url('../images/icons/svg/musical-score.svg');
  }

  &.icon-music-microphone {
    mask-image: url('../images/icons/svg/microphone-music.svg');
  }

  &.icon-play {
    mask-image: url('../images/icons/svg/play.svg');
  }

  &.icon-success {
    background-color: var(--color-success);
    mask-image: url('../images/icons/svg/success.svg');
  }

  &.icon-add {
    mask-image: url('../images/icons/svg/add.svg');
  }

  &.icon-vote {
    background-color: var(--color-primary);
    mask-image: url('../images/icons/svg/vote.svg');
  }
  &.icon-flash {
    background-color: var(--color-warning);
    mask-image: url('../images/icons/svg/flash.svg');
  }

  &.icon-option-menu {
    mask-image: url('../images/icons/svg/options-menu.svg');
  }

  &.icon-option-menu-side {
    mask-image: url('../images/icons/svg/options-menu-side.svg');
  }

  &.icon-size-extra-small {
    width: 16px;
    height: 16px;
  }

  &.icon-size-small {
    width: 24px;
    height: 24px;
  }

  &.icon-size-medium {
    width: 48px;
    height: 48px;
  }
  &.icon-size-large {
    width: 64px;
    height: 64px;
  }
}




/*
  ICONES DE LA NAVBAR
*/
.navbar-icon {
  display: inline-block;
  mask-size: contain;
  mask-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-color: var(--text-color);

  li.selected & {
    background-color: var(--color-primary);

  }
  &.dashboard {
    mask-image: url('../images/icons/svg/app_navbar/dashboard.svg');
  }

  &.repertoire {
    mask-image: url('../images/icons/svg/app_navbar/repertoire.svg');
  }

  &.setlists {
    mask-image: url('../images/icons/svg/app_navbar/setlists.svg');
  }

  &.events {
    mask-image: url('../images/icons/svg/app_navbar/events.svg');
  }

  &.finances {
    mask-image: url('../images/icons/svg/app_navbar/finances.svg');
  }

  &.settings {
    mask-image: url('../images/icons/svg/app_navbar/settings.svg');
  }
}



