@import './globals.css';
header {
  background-image: url('../images/header_portrait.png');
  background-size: cover;
  background-position:center center;
}

.login-box-image{
  background-image: url('../images/header_portrait.png');
  background-size: cover;
  background-position: center;
}

.toast {
  position: absolute;
  top: 50px;
  right: calc(50% - 50px);

}
