<div data-confirm-target="dialog" class="modal">
  <div class="card p-8 flex flex-col gap-4">
    <p data-confirm-target="message"></p>
    <div class="flex gap-4">
      <button data-action="confirm#confirm" class="btn btn-danger">Oui</button>
      <button data-action="confirm#cancel" class="btn btn-secondary">Non</button>
    </div>
  </div>
</div>
