
<li class="cursor-pointer">
  <a href={{ path('app_song', {id: 1}) }}>
    <article class="song-card card  hover:shadow-xs hover:-translate-y-px transition-transform active:translate-y-0.5 p-4 flex justify-between">
      {# todo : add content #}
      content goes here
    </article>
  </a>
</li>
