.app-navbar {
  padding: 0 12px ;
  color : var(--text-color);
  background-color: var(--card-background-container);
  border-top : 1px solid var(--color-border);
  .navbar-logo {
    display: none;
    height: 64px;
    width: 64px;
  }
  .app-nav-bar-heading {
    display: none;
    font-size: 38px;
    color : var(--label-color)
  }
  ul {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    li {
      cursor: pointer;
    }

    li a div {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      height: 48px;
      width: 48px;
      p {
        font-size: 1rem;
      }
    }

    /* Surcharge la div sur la route acutelle*/
    li.selected {
      div {
        background-color: #fff;
        border-radius: 16px;
        p {
          color : var(--color-primary)
        }
      }

    }
  }
}





@media (min-width: 768px) {
  .app-navbar {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    height: 100%;
    width: 82px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    border:none;
    border-right: 1px solid var(--color-border);
    .navbar-logo {
      display: block;
    }
    ul {
      flex-direction: column;
      justify-content: start;
      align-items: stretch;
      gap: 12px;
    }
  }
}

@media (min-width: 1280px) {
  .app-navbar {
    width: 220px;
    .app-nav-bar-heading{
      display: block;
    }
    ul {
      width: 100%;


      li a div {
        padding: 12px;
        width: 100%;
        display: flex;
        justify-content: start;
        gap : 12px;
      }
      p {
        display: block;
      }
    }
  }
}
